<%= form_for(@fetch) do |f| %>
  <% if @fetch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fetch.errors.count, "error") %> prohibited this fetch from being saved:</h2>

      <ul>
      <% @fetch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :recipient %><br />
    <%= f.text_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :cc %><br />
    <%= f.text_area :cc %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
    <%= nested_form_for @fetch, :html => {:multipart => true} do |f| %>

    <%= f.fields_for :tasks do |task_form| %>
    <%= task_form.text_area :instructions %>
    <%= task_form.select :type_name, %w[text_field file_upload] %>
    <%= task_form.link_to_remove "Remove this task" %>
    <% end %>
    <p><%= f.link_to_add "Add a task", :tasks %></p>

    <div class="actions">
    <%= f.submit %>
    <% end %>
  </div>
<% end %>
