<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @fetch.title %>
</p>

<p>
  <b>Recipient:</b>
  <%= @fetch.recipient %>
</p>

<p>
  <b>Cc:</b>
  <%= @fetch.cc %>
</p>

<p>
  <b>Deadline:</b>
  <%= @fetch.deadline %>
</p>


<%= link_to 'Edit', edit_fetch_path(@fetch) %> |
<%= link_to 'Back', fetches_path %>
