<!DOCTYPE html>
<html>
<head>
  <title>Assetfetch</title>
  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div id="user_nav">  
    <div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">AssetFetch</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", fetches_path %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
           <% if user_signed_in? %>  
            <li>Signed in as <%= current_user.email %>. Not you?
           <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>   
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>  
          <% end %> 

        </ul>
      </div>
    </div>
  </div>
</div> 
</div>  
  <%= yield %>
</div>
</body>
</html>

