<!DOCTYPE html>
<html>
<head>
  <title>Assetfetch</title>
  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= nav_bar :fixed => :top, :brand => "AssetFetch", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "About Us" %>
        <%= menu_item "Contact" %>
        <% end %>         
      <%= menu_group :pull => :right do %>
           <% if user_signed_in? %>  
           <%= menu_item "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>   
          <%= menu_item "Sign up", new_user_registration_path %>
          <%= menu_item "Sign in", new_user_session_path %>  
          <% end %>         
        <% end %>
        <% end %>
</div> 
<div>  
  <%= yield %>
</div>
</body>
</html>

